## Load data

In [2]:
# STEP 0 - download the dataset - run once
# !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

In [6]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

df = pd.read_csv('car_fuel_efficiency.csv')
# df.head()

## EDA

In [7]:
# The goal of this homework is to create a regression model for predicting the car fuel efficiency (column 'fuel_efficiency_mpg').

# Preparing the dataset
# Use only the following columns:

# 'engine_displacement',
# 'horsepower',
# 'vehicle_weight',
# 'model_year',
# 'fuel_efficiency_mpg'

# EDA
# Look at the fuel_efficiency_mpg variable. Does it have a long tail?

used_cols = [ 'engine_displacement', 'horsepower', 'vehicle_weight', 'model_year', 'fuel_efficiency_mpg' ]

df = df[used_cols]
df.head()

,engine_displacement,horsepower,vehicle_weight,model_year,fuel_efficiency_mpg
0,170,159.0,3413.433759,2003,13.231729
1,130,97.0,3149.664934,2007,13.688217
2,170,78.0,3079.038997,2018,14.246341
3,220,NaN,2542.392402,2009,16.912736
4,210,140.0,3460.870990,2009,12.488369

In [8]:
df.shape # (9704, 5)

# Question 1
# There's one column with missing values. What is it?

# 'engine_displacement'
# 'horsepower' -- it has the NaN
# 'vehicle_weight'
# 'model_year'

(9704, 5)

In [12]:
# Question 2
# What's the median (50% percentile) for variable 'horsepower'?

# 49
# 99
# 149 -- 50%       149.000000
# 199

df['horsepower'].describe() # 50%       149.000000

count    8996.000000
mean      149.657292
std        29.879555
min        37.000000
25%       130.000000
50%       149.000000
75%       170.000000
max       271.000000
Name: horsepower, dtype: float64

In [ ]:
# Look at the fuel_efficiency_mpg variable. Does it have a long tail?

## Prepare and split the dataset