## Q1. Pandas version

In [3]:
# Q1. Pandas version
# What's the version of Pandas that you installed?

# You can get the version information using the __version__ field:
import pandas as pd
pd.__version__
# '2.3.1'

'2.3.1'

In [6]:
# Getting the data
# For this homework, we'll use the Car Fuel Efficiency dataset. Download it from here.

# You can do it with wget:

# !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
# Or just open it with your browser and click "Save as...".

# Now read it with Pandas.

fe = pd.read_csv("car_fuel_efficiency.csv")
fe.tail()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

## Q2. Records count

In [7]:
# Q2. Records count
# How many records are in the dataset?

# 4704
# 8704
# 9704 # as we start with 0 and end with 9703 ...
# 17704

In [9]:
# nice way to double check row count
len(fe) # 9704

9704

## Q3. Fuel types

In [ ]:
# Q3. Fuel types
# How many fuel types are presented in the dataset?

# 1
# 2 - 'Gasoline', 'Diesel'
# 3
# 4

In [13]:
# to see column stats we use
fe["fuel_type"].unique() # 'Gasoline', 'Diesel'

array(['Gasoline', 'Diesel'], dtype=object)

## Q4. Missing values

In [15]:
# Q4. Missing values
# How many columns in the dataset have missing values?

# 0
# 1
# 2
# 3
# 4

# Count of columns with missing values
num_missing_cols = fe.isnull().any().sum()

print(f"Number of columns with missing values: {num_missing_cols}") # 4

Number of columns with missing values: 4

In [16]:
# to double check which columns have missing values and how many:

missing_info = fe.isnull().sum()
missing_info = missing_info[missing_info > 0]

print(missing_info)

# num_cylinders    482
# horsepower       708
# acceleration     930
# num_doors        502

num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

## Q5. Max fuel efficiency

In [20]:
# Q5. Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia?

# 13.75
# 23.75 # Max fuel efficiency: 23.759122836520497
# 33.75
# 43.75

asia_cars = fe[fe["origin"] == "Asia"]
# asia_cars # 3247 rows Ã— 11 columns

# Max value in the column
max_mpg = asia_cars["fuel_efficiency_mpg"].max()
print("Max fuel efficiency:", max_mpg) # Max fuel efficiency: 23.759122836520497

Max fuel efficiency: 23.759122836520497

## Q6. Median value of horsepower

In [22]:
# Q6. Median value of horsepower
# Find the median value of horsepower column in the dataset.
# Next, calculate the most frequent value of the same horsepower column.
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
# Now, calculate the median value of horsepower once again.
# Has it changed?

# Yes, it increased # 50% 152.000000 - a bit higher than before 149.0
# Yes, it decreased
# No

In [24]:
# Find the median value of horsepower column in the dataset.
fe["horsepower"].median() # np.float64(149.0)

np.float64(149.0)

In [26]:
# to double check
fe["horsepower"].describe() # 50%       149.000000

count    8996.000000
mean      149.657292
std        29.879555
min        37.000000
25%       130.000000
50%       149.000000
75%       170.000000
max       271.000000
Name: horsepower, dtype: float64

In [27]:
# Next, calculate the most frequent value of the same horsepower column.
# Most frequent value (mode)
most_freq_hp = fe["horsepower"].mode()[0]
print("Most frequent horsepower:", most_freq_hp) # 152.0

Most frequent horsepower: 152.0

In [28]:
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
fe["horsepower"].fillna(most_freq_hp, inplace=True)
fe["horsepower"].describe() # 50% 152.000000 - a bit higher than before 149.0

/tmp/ipykernel_17554/3707462728.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fe["horsepower"].fillna(most_freq_hp, inplace=True)

count    9704.000000
mean      149.828215
std        28.775248
min        37.000000
25%       131.000000
50%       152.000000
75%       168.000000
max       271.000000
Name: horsepower, dtype: float64

## Q7. Sum of weights

In [30]:
# Q7. Sum of weights
# Select all the cars from Asia
# Select only columns vehicle_weight and model_year
# Select the first 7 values
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?
# Note: You just implemented linear regression. We'll talk about it in the next lesson.

# 0.051
# 0.51 # array([0.01386421, 0.5049067 ])
# 5.1
# 51

In [33]:
# Select all the cars from Asia
# Select only columns vehicle_weight and model_year
# Select the first 7 values

asia_wy = asia_cars[["vehicle_weight", "model_year"]]
a = asia_wy[:7]
a

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [35]:
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
import numpy as np
X = np.array(a)
# Compute X^T X
XTX = X.T @ X   # Using @ operator (preferred in modern Python)
# or equivalently:
# XTX = np.matmul(X.T, X)
# XTX = np.dot(X.T, X)
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [36]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

# Step 1: Target vector y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 2: Compute inverse of X^T X
XTX_inv = np.linalg.inv(XTX)

# Step 3: Compute w = (X^T X)^(-1) X^T y
w = XTX_inv @ X.T @ y
w # array([0.01386421, 0.5049067 ])

array([0.01386421, 0.5049067 ])