In [42]:
# starts at https://www.youtube.com/watch?v=Qa0-jYtRdbY
# and contunues to lin alg and Pandas
import numpy as np
np

## Create simple arrays

In [43]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [44]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [45]:
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [46]:
# from python list
l = [1, 2, 3, 4, 5, 6, 10]
a = np.array(l)
a

array([ 1,  2,  3,  4,  5,  6, 10])

In [47]:
int(a[3]) # accessing elements by indices

4

In [48]:
np.arange(3, 10)

array([3, 4, 5, 6, 7, 8, 9])

In [49]:
np.linspace(0, 1, 11)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

## Multi-dimensional arrays

In [50]:
n = np.zeros((5, 3)) # same way it can create arrays from multi-dimensional python lists...

In [51]:
# adressing row
n[1] = [1, 2, 3]
n

array([[0., 0., 0.],
       [1., 2., 3.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [52]:
# adressing column using : operator
n[:, 2] = [10]*5
n

array([[ 0.,  0., 10.],
       [ 1.,  2., 10.],
       [ 0.,  0., 10.],
       [ 0.,  0., 10.],
       [ 0.,  0., 10.]])

## Randomly generated arrays and random seeds

In [53]:
# if we don't need the seed - we get a new array every time
random_different_values = np.random.rand(5, 2)
random_different_values 
# array([[0.20303549, 0.49645129],
#        [0.98002669, 0.31447288],
#        [0.72151985, 0.1577254 ],
#        [0.67189464, 0.64356604],
#        [0.71482408, 0.81511062]])

# array([[0.18126911, 0.94628129],
#        [0.32282185, 0.18224532],
#        [0.28034724, 0.43799104],
#        [0.2495647 , 0.0891415 ],
#        [0.00137409, 0.93752768]])

# and so on - different each time

array([[0.81413841, 0.94809042],
       [0.82288464, 0.51513912],
       [0.22099815, 0.74663141],
       [0.43153777, 0.88830375],
       [0.9411933 , 0.50301225]])

In [54]:
# But if we set up a seed we will get the same results all the time
np.random.seed(2)
similar = np.random.rand(5, 2)
similar # [0.4359949 , 0.02592623] - like in video:
# https://www.youtube.com/watch?v=Qa0-jYtRdbY

# array([[0.4359949 , 0.02592623],
#        [0.54966248, 0.43532239],
#        [0.4203678 , 0.33033482],
#        [0.20464863, 0.61927097],
#        [0.29965467, 0.26682728]])

array([[0.4359949 , 0.02592623],
       [0.54966248, 0.43532239],
       [0.4203678 , 0.33033482],
       [0.20464863, 0.61927097],
       [0.29965467, 0.26682728]])

In [55]:
# np.random.randn - samples from n - normal distribution

# numpy allows easy multiplication and any other ariphmetics:
5 * similar # every element is multiplied by 5

array([[2.17997451, 0.12963116],
       [2.74831239, 2.17661196],
       [2.10183901, 1.65167411],
       [1.02324317, 3.09635483],
       [1.49827337, 1.33413638]])

In [56]:
# how to generate integers, not floats
np.random.seed(2)
sim_int = np.random.randint(low=0, high=100, size=(5, 2))
sim_int

array([[40, 15],
       [72, 22],
       [43, 82],
       [75,  7],
       [34, 49]])

## Element-wise operations

In [57]:
a = np.arange(5)
a

array([0, 1, 2, 3, 4])

In [58]:
# we can add without loops:
a + 1

array([1, 2, 3, 4, 5])

In [59]:
10 + a * 2 # and perform any ariphmetics freely...

array([10, 12, 14, 16, 18])

## Comparison

In [60]:
a

array([0, 1, 2, 3, 4])

In [61]:
a >= 2

array([False, False,  True,  True,  True])

In [62]:
a[a >= 2] # - selecting elements which are greater than 2 without loops

array([2, 3, 4])

## Summarising operations

In [63]:
a.min()

np.int64(0)

In [64]:
a.mean()

np.float64(2.0)

In [65]:
a.sum()

np.int64(10)

## Linear algebra

In [66]:
u = np.random.randint(10, size=10)
len(u)

10

In [67]:
u

array([5, 4, 4, 5, 7, 3, 6, 4, 3, 7])

In [68]:
v = np.random.randint(10, size=10)
v.shape #[0]

(10,)

In [74]:
v

array([6, 1, 3, 5, 8, 4, 6, 3, 9, 2])

In [76]:
# how to multiply vectors
def vec_multiply(u, v):
    assert u.shape[0] == v.shape[0] # to make sure u and v have same dimenson
    
    n = u.shape[0] # esseltially len of u or v
    m = 0 # our sum of multiplication products
    
    for i in range(n):
        m += u[i]*v[i]

    return m

In [77]:
product = vec_multiply(u, v)
product

np.int64(228)

In [78]:
#vec_multiply(a, v) # AssertionError - diff vector dimensions

# use built-in Numpy function
u.dot(v)

np.int64(228)

In [84]:
# matrix - vector multiplication

big_u = np.random.randint(10, size=(3, 10))
big_u

array([[6, 3, 8, 2, 1, 4, 8, 1, 6, 9],
       [5, 1, 2, 4, 7, 6, 4, 5, 8, 3],
       [0, 0, 5, 7, 5, 0, 8, 6, 5, 1]])

In [85]:
v

array([6, 1, 3, 5, 8, 4, 6, 3, 9, 2])

In [86]:
big_u.dot(v)

array([220, 254, 203])

In [87]:
# or using our function - row by row

[vec_multiply(big_u[0], v), vec_multiply(big_u[1], v), vec_multiply(big_u[2], v)]

[np.int64(220), np.int64(254), np.int64(203)]

In [89]:
# matrix - matrix multiplication

big_v = np.random.randint(10, size=(10, 3))
big_v

array([[7, 4, 3],
       [6, 1, 4],
       [0, 8, 5],
       [4, 2, 9],
       [7, 1, 9],
       [2, 1, 0],
       [7, 1, 8],
       [9, 0, 7],
       [0, 5, 2],
       [5, 1, 3]])

In [94]:
X = big_u.dot(big_v)
X

array([[193, 147, 207],
       [206, 105, 220],
       [178,  93, 252]])

## Identity matrix

In [95]:
# if we multiply any matrix to identity matrix I we get this matrix back - similar to multiplication by 1

I = np.eye(3)
I

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [96]:
I.dot(X)

array([[193., 147., 207.],
       [206., 105., 220.],
       [178.,  93., 252.]])

In [97]:
X.dot(I)

array([[193., 147., 207.],
       [206., 105., 220.],
       [178.,  93., 252.]])

In [98]:
big_v.dot(I)

array([[7., 4., 3.],
       [6., 1., 4.],
       [0., 8., 5.],
       [4., 2., 9.],
       [7., 1., 9.],
       [2., 1., 0.],
       [7., 1., 8.],
       [9., 0., 7.],
       [0., 5., 2.],
       [5., 1., 3.]])

In [100]:
# but !!!
# big_u.dot(I) # will give ValueError !!!

## Inverse matrix

In [101]:
# something like A * A**-1 = I means A**-1 is inverse of A

X

array([[193, 147, 207],
       [206, 105, 220],
       [178,  93, 252]])

In [103]:
inv_x = np.linalg.inv(X)
inv_x

array([[-0.0096826 ,  0.02871376, -0.017114  ],
       [ 0.02057876, -0.01902632, -0.00029371],
       [-0.00075524, -0.01326033,  0.01616511]])

In [108]:
# checking - -5.68121938e-17 is in fact zero....
X.dot(inv_x)

array([[ 1.00000000e+00, -2.46330734e-16,  1.11022302e-16],
       [-1.22731686e-16,  1.00000000e+00,  4.44089210e-16],
       [-5.68121938e-17, -3.19189120e-16,  1.00000000e+00]])

## Pandas data frames

In [109]:
# https://www.youtube.com/watch?v=0j3XK5PsnxA

import pandas as pd

In [110]:
data = [
    ['Nissan', 'Stanza', 1991, 138, 4, 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'Sedan', 27150],
    ['Lotus', 'Elise', 2010, 218, 4, 'MANUAL', 'convertible', 54990],
    ['GMC', 'Acadia',  2017, 194, 4, 'AUTOMATIC', '4dr SUV', 34450],
    ['Nissan', 'Frontier', 2017, 261, 6, 'MANUAL', 'Pickup', 32340],
]

columns = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Vehicle_Style', 'MSRP'
]

In [113]:
df = pd.DataFrame(data, columns=columns)
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

## Series

In [115]:
df["Year"] # bracket notation

0    1991
1    2017
2    2010
3    2017
4    2017
Name: Year, dtype: int64

In [119]:
# even better so - dot notation works too!
# watch capital letters and avoid blank spaces in col names
df.Make

0     Nissan
1    Hyundai
2      Lotus
3        GMC
4     Nissan
Name: Make, dtype: object

In [121]:
df[['Make', 'Model', 'MSRP']] # we define a subset of columns to select

      Make     Model   MSRP
0   Nissan    Stanza   2000
1  Hyundai    Sonata  27150
2    Lotus     Elise  54990
3      GMC    Acadia  34450
4   Nissan  Frontier  32340

In [123]:
# add a new column

df['id'] = [10, 20, 30, 40, 50]
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP,id
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000,10
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150,20
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990,30
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450,40
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340,50

In [124]:
# and remove it
del df['id']
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

## Index

In [125]:
df.index # every dataframe have it by default - like a row number...

RangeIndex(start=0, stop=5, step=1)

In [126]:
# accessing rows via index
df.loc[1]

Make                   Hyundai
Model                   Sonata
Year                      2017
Engine HP                  NaN
Engine Cylinders             4
Transmission Type    AUTOMATIC
Vehicle_Style            Sedan
MSRP                     27150
Name: 1, dtype: object